<div class="tagger">
  <ng-container
    *ngIf="isLoading; else content"
  >
    <dt-spinner></dt-spinner>
  </ng-container>

</div>

<ng-template #content>
  <div class="images">
    <dt-tagger-image
      *ngFor="let image of images"
      [image]="image"
      [zoomLevel]="zoomLevel"
      (submitImage)="onSubmitImage(image)"
      (addMarker)="onAddMarker(image, $event)"
      (removeMarker)="onRemoveMarker(image, $event)"
      (markerAssignProduct)="onMarkerAssignProduct(image, $event)"
    ></dt-tagger-image>
  </div>
  <div class="controls">
    <button
      class="control load-next-images-button"
      (click)="onLoadNextImagesClick()"
    >
      Load New Image(s)
    </button>
  </div>
</ng-template>
