$menu-width: 400px;
$content-min-width: 600px;

.data-tagging {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: $content-min-width + $menu-width;

  .header {
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding: 0 10px;
  }

  .main {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: $content-min-width + $menu-width;

    .content {
      display: flex;
      flex: 1;
      min-width: $content-min-width;
    }

    .menu {
      display: flex;
      width: $menu-width;
    }
  }

  .footer {
    width: 100%;
  }

}
