<div class="settings">
  <div class="setting">
    <div class="label">Number of Images</div>
    <div class="control">
      <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
  </div>

  <div class="setting">
    <div class="label">Preview Before Submit</div>
    <div class="control">
      <input type="checkbox" />
    </div>
  </div>

  <div class="setting">
    <img class="settings-icon" src="apps/data-tagging/assets/img/gear.png" />
  </div>
</div>
